<h1>présentation</h1>





<h1>Configuration</h1>


<h2>Frise d'exemple</h2>

<div id="friseA_support" title="support global">
        <div id="friseA_supportRegles" title="suport de regle">
                <!--div id="regleA"></div-->
        </div>
        <div id="friseA_supportDatas" title="support pour les bandes">
        </div>
</div>


<h2>html</h2>




<pre class="coding_file">&lt;script src="./timeline.min.js"&gt;&lt;/script&gt;

&lt;link rel="stylesheet" href="./eresGeologique.css" /&gt;

&lt;div id="friseA_support"&gt;
 	&lt;div id="friseA_supportRegles" title="suport de règle"&gt;  &lt;/div&gt;
	&lt;div id="friseA_supportDatas" title="support pour les bandes"&gt;

&lt;/div&gt;
</pre>
Et c'est tout!

<h2>le code javascript pour la frise</h2>

<h3>instanciation de la frise</h3>

<script>
function friseA_init(){
friseA=new Tfrise({
        'idHTML':'friseA_support'
        ,'supportRegles':'friseA_supportRegles'
        ,'supportDatas':'friseA_supportDatas'
        // definition de la bande qui servira de modele aux autres
        ,'bandeModele':
                 {'date_deb': {'an': -4.6*ut.Milliard,'unite':'an'}
                ,'date_fin': {'an': 4000,'unite':'an'}
                ,'left_marge': 0
                ,'longueur': 1000
                ,'top': 0
                ,'hauteur': 30
                }
        });
}
</script>
<div class="action"  onclick="friseA_init" >instancier</div>

<pre class="coding_file">
friseA=new Tfrise({
        'idHTML':'friseA_support'
        ,'supportRegles':'friseA_supportRegles'
        ,'supportDatas':'friseA_supportDatas'
	// definition de la bande qui servira de modele aux autres 
        ,'bandeModele':
		 {'date_deb': {'an': -4.6*ut.Milliard,'unite':'an'}
		,'date_fin': {'an': 4000,'unite':'an'}
		,'left_marge': 0
		,'longueur': 1000
		,'top': 0
		,'hauteur': 30
		}
        });
</pre>


<h1></h1>

<h2></h2>

<h3></h3>
<pre class="coding_file">
</pre>

