/* style neccessaire a la frise */
/* frise commun */
.frise_support
	{
	position: relative;display: block;
/*	width: 500px; /* facultatif: redimentionner par gestFrises */
	height: 200px; /* necessaire */
	border: 1px solid blue;
	overflow: hidden;
	margin: 0 auto 0 auto;
	background-color: transparent;
	font-size: 8px!important;
	}
.frise_regles_support
	{
	position: absolute;display: block;top: 0;left: 0;overflow: hidden;
	/*width: 500px;*//* facultatif*/
	height: 10px;
	margin: 0;border: 0 dotted Black;
	border:1px solid yellow; /* for debug */
	background-color: #909;
	text-align: center;
	}
.frise_bandes_support
	{
	top: 10px; /*top: total des hauteurs des regles: frise_regles_support.height  */
	position: absolute;display: block;left: 0;overflow: hidden;
	/*width: 500px;*//* facultatif*/
	height: 160px;
	margin: 0;border: 0 solid green;background-color: #D4F7D7;
	font-size: 8px!important;text-align: center;
	}

.bande_regles{
	background-color: #909;
	text-align: center;
	}

.bande_evt{
	background-color: #B0F2B6;
	border:none;
	border-bottom:1px solid black;
	text-align: center;
	}

.bande_evt2{
	background-color: yellow;
	border:none;
	border-bottom:1px solid black;
	text-align: center;
	}

.Onepx{min-width:1px;width:1px;max-width:1px;}
.evt1, .regleEvt1{background-color: blue;border:none;}
.regleEvt1{
	border-left:1px solid black;
	text-align: left;
	}
.evt1{
	border-bottom:1px solid black;
	text-align: center;
	}


