#rt_auteurs_support
	{
	position: relative;	
	display:block;
	width: 1002px;	height:30px;
	overflow:hidden;	
	border: 1px solid Blue;
	background-color:Yellow;
	background-color:transparent;
	margin:0;
	}

/* --------------------------*/
	#rt_auteurs_regles_support
		{
		position: absolute;
		display:block;
		top:0;
		left:0;
		overflow:hidden;	
		border:0 dotted Black;
		width: 1000px;	height: 10px;
		background-color:#111;
	/*	background-color:transparent;*/
		margin:0;
		text-align:center;
		}

	#rt_auteurs_bandes_support
		{
		position: absolute;
		display:block;
		top:10px;		/*total des hauteur des regles*/
		left:0;
		overflow:hidden;	
		border: 0 solid Green;
		width: 1000px;	height: 40px;
		border-left:0;
		background-color:Magenta;
		background-color:transparent;
		margin:0;
		}

/* --------------------------*/
#regle_decenal
	{
	position:absolute;
	display:block;
	top:0;
	left:0;
	overflow:hidden;	
	width:1000px;	height: 10px;
	border:0 solid Magenta;
	background-color:#6FF2E2;
	background-color:Magenta;
	font-size:8px!important;
	}


/* --------------------------*/
#rt_Lovecraft_bande
	{
	/*background-color:transparent;*/
	background-color:#1A8;
	margin:0;
	opacity:0.5;
	}

.Lovecraft_regle_trait
	{
	border-left: 1px solid Green;
	background-color:transparent;
	text-align:left;
	font-size:8px!important;
	cursor:help;
	}

#Lovecraft_libelle
	{
	position: absolute;
	display:block;
	overflow:hidden;
	top: 0;left:0;	
	width: 38px;	height: 50px;
	width: 15px;	height: 20px;
	border:none;
	opacity:0.9;
	}

.Lovecraft_bande_auteur
	{
	border:0 dotted Black;
	background-color:Gray;
	text-align:center;
	opacity:0.9;
	}
.Lovecraft_Naissance
	{
	border:0 dotted Black;
	background-color:#8EF2EE;
/*	border-left: 1px solid Black;*/
	text-align:center;
	opacity:0.6;
	}
.Lovecraft_livreA
	{
	border:0 dotted Black;
	background-color:Blue;
	border-left: 1px solid Black;
	text-align:center;
	opacity:0.9;
	}

