#millenaire2_support
	{
	position: relative;	
	display:block;
	width: 1002px;	height:30px;
	overflow:hidden;	
	border: 1px solid Blue;
	background-color:Yellow;
	background-color:transparent;
	margin:0;
	}

	/* --------------------------*/
	#millenaire2_regles_support
		{
		position: absolute;
		display:block;
		top:0;
		left:0;
		overflow:hidden;	
		border:0 dotted Black;
		width: 1000px;	height: 10px;
		background-color:#111;
		background-color:transparent;
		margin:0;
		text-align:center;
		}

	#millenaire2_bandes_support
		{
		position: absolute;
		display:block;
		top:10px;		/*total des hauteur des regles*/
		left:0;
		overflow:hidden;	
		border: 0 solid Green;
		width: 1000px;	height: 10px;
		border-left:0;
		background-color:Magenta;
		background-color:transparent;
		margin:0;
		}

/* --------------------------*/
#millenaire2_regle_siecle
	{
	position:absolute;
	display:block;
	top:0;
	left:0;
	overflow:hidden;	
	width:1000px;	height: 10px;
	border:0 solid Magenta;
	background-color:#6FF2E2;
	background-color:Magenta;
	font-size:8px!important;
	}

#millenaire2_bande
	{
	/*background-color:transparent;*/
	background-color:#1A8;
	margin:0;
	opacity:0.5;
	}

/* --------------------------*/
.millenaire2_regle_repere_siecle
	{
	border-left: 1px solid Green;
	background-color:transparent;
	text-align:left;
	font-size:8px!important;
	cursor:help;
	}


.millenaire2_evt1
	{
	border:0 dotted Black;
	background-color:Blue;
	border-left: 1px solid Black;
	text-align:center;
	opacity:0.9;
	}

