.pointeur{cursor:pointer;}
#debug_titre
	{
	background-color:#E13;
	}
#debug_support{
	display:none;
	border-radius:10px 10px;-moz-border-radius:10px 10px;-webkit-border-radius:10px 10px;
	border-top-left-radius:0;-moz-border-radius-topleft:0;-webkit-border-top-left-radius:0;
	background-color:#ADC0F7;
	padding:5px;
	font-size:.8em;
	}

h1{text-align: center;font-weight: bold;}
#showActivity
	{
	border: 1px solid red;
	min-height: 5em;max-height: 15em;
	overflow: scroll;
	}

#showCode
	{
	position: absolute;
	opacity: 0.6;
	top: 600px;right: 10px;
	max-width: 60%;
	max-height: 15em;
	overflow: scroll;
	border: 1px blue solid;
	background-color: #000;
	color: #DDD;
	font-size: 0.8em;
	}

#tutoMenu
	{
	display:none;
	}
.etape	{
	cursor: default;
	border: 1px dotted blue;
	text-align: center;
	font-weight: bold;
	color: blue;
	}

.action	{
	cursor: pointer;
	border: none;
	text-align: left;
	font-weight: normal;
	color: #F22;
	}
.action:hover	{color: #F14;text-decoration: underline;}

/* style neccessaire a la frise */
/* frise commun */

.frise_support
	{
	position: relative;display: none;
	display:block;
	width: 1002px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	background-color: transparent;
	font-size: 8px!important;
	}
.frise_regles_support
	{
	position: absolute;display: block;top: 0;left: 0;width: 1000px;height: 10px;overflow: hidden;
	margin: 0;border: 0 dotted Black;	background-color: transparent;
	text-align: center;
	}
.frise_bandes_support
	{
	top: 10px;/*top: total des hauteurs des regles*/
	position: absolute;display: block;left: 0;overflow: hidden;width: 1000px;height: 160px;
	margin: 0;border: 0 solid Green;background-color: #D4F7D7;
	font-size: 8px!important;text-align: center;
	}
/* frise A */
#friseA_support
	{
	border: 1px solid Blue;
	background-color: brown;
	}
#friseA_regles_support
	{
	background-color: transparent;
	text-align: center;
	}
#friseA_bandes_support,.frise_bandes_support
	{
	background-color: #D4F7D7;
	font-size: 8px!important;
	}

/* frise B */
#friseB_support
	{
	height: 200px;
	border: 1px solid Blue;
	background-color: transparent;
	}
#friseB_regles_support,.frise_bandes_support
	{
	height: 20px;
	background-color: #D4F7D7;
	font-size: 8px!important;
	}
#friseB_bandes_support,.frise_bandes_support
	{
	height: 200px;
	background-color: #D4F7D7;
	font-size: 8px!important;
	}

#bandeGlaciations{border:1px solid red;}
.GlaciationEvt{background-color:yellow;}
/* --------------------------*/
#regleA
	{
	position: absolute;display: block;top: 0;left: 0;overflow: hidden;width: 1000px;height: 10px;border: 0 solid Magenta;
	background-color: transparent;/*font-size: 8px!important;*/
	}

.regleRepere
	{
	margin:0;
	border: 0;border-left: 1px solid #000;
	padding:auto;padding-left:auto;padding-right:auto;padding-top:0;padding-bottom:auto;
	vertical-align:text-bottom;
	text-align:center;
	font-size:8px;
	}
.auteurs_regle_repere_siecle
	{
	border: 0;
	border-left: 1px solid blue;
	}
/* --------------------------*/
#age1
	{
	visibility: visible;
	background-color: yellow;
	border: 0;border-left: 0;border-bottom: 3px solid #555;
	}
.age1_evt
	{
	/*height: 10px;*/
	background-color: #055;
	border: 0;border-left: 1px solid #051;border-bottom: 1px solid #CCC;
	}

#age2
	{
	visibility: visible;
	background-color: gray;
	border: 0;border-left: 0;border-bottom: 3px solid #555;
	}
#age3
	{
	visibility: visible;
	background-color: #550;
	border: 0;border-left: 0;border-bottom: 3px solid #555;
	}


