.pointeur{cursor:pointer;}
#debug_titre{}
#debug_support{
	padding:5px;
	border-radius:10px 10px;-moz-border-radius:10px 10px;-webkit-border-radius:10px 10px;
	background-color:#ADC0F7;
	font-size:.8em;
	}

h1{text-align: center;font-weight: bold;}
#showActivity
	{
	border: 1px solid red;
	min-height: 5em;max-height: 15em;
	overflow: scroll;
	}

#showCode
	{
	position: absolute;
	opacity: 0.6;
	top: 600px;right: 10px;
	max-width: 60%;
	max-height: 15em;
	overflow: scroll;
	border: 1px blue solid;
	background-color: #000;
	color: #DDD;
	font-size: 0.8em;
	}

#tutoMenu
	{
	display:none;
	}
.etape	{
	cursor: default;
	border: 1px dotted blue;
	text-align: center;
	font-weight: bold;
	color: blue;
	}

.action	{
	cursor: pointer;
	border: none;
	text-align: left;
	font-weight: normal;
	color: #F22;
	}
.action:hover	{color: #F14;text-decoration: underline;}

/* style neccessaire a la frise */
#friseA_support
	{
	position: relative;display: block;
	width: 1002px;
	height: 200px;
	overflow: hidden;
	margin: 0 auto 0 auto;
	/*order: 1px solid Blue;*/
	background-color: transparent;
	font-size: 8px!important;
	}
#friseA_supportRegles
	{
	position: absolute;display: block;top: 0;left: 0;overflow: hidden;border: 0 dotted Black;width: 1000px;	height: 10px;
	background-color: #111;background-color: transparent;margin: 0;text-align: center;
	}
#friseA_supportDatas
	{
	top: 10px;/*top: total des hauteurs des regles*/
	position: absolute;display: block;left: 0;overflow: hidden;border: 0 solid Green;width: 1000px;height: 160px;border-left: 0;
	background-color: #D4F7D7;margin: 0;font-size: 8px!important;
	}
/* --------------------------*/
#regleA
	{
	position: absolute;display: block;top: 0;left: 0;overflow: hidden;width: 1000px;height: 10px;border: 0 solid Magenta;
	background-color: #6FF2E2;background-color: Magenta;/*font-size: 8px!important;*/
	}

.regleRepere
	{
	margin:0;
	border: 0;border-left: 1px solid #000;
	padding:auto;padding-left:auto;padding-right:auto;padding-top:0;padding-bottom:auto;
	vertical-align:text-bottom;
	text-align:center;
	font-size:8px;
	}
.auteurs_regle_repere_siecle
	{
	border: 0;
	border-left: 1px solid blue;
	}
/* --------------------------*/
#bandeAHTML
	{
	visibility: visible;
	background-color: yellow;
	border: 0;border-left: 0;border-bottom: 3px solid #555;
	}
.bandeA_evt
	{
	/*height: 10px;*/
	background-color: #055;
	border: 0;border-left: 1px solid #051;border-bottom: 1px solid #CCC;
	}
.bandeA_evt_periode
	{
	/*height: 10px;*/
	background-color: #F00;
	border: 0;border-left: 1px solid #F06;border-bottom: 1px solid #CCC;
	}

#bandeBHTML
	{
	visibility: visible;
	background-color: gray;
	border: 0;border-left: 0;border-bottom: 3px solid #555;
	}


.evt_superEons
	{
	margin:0;
	border: 0;border-left: 0;
	background-color:#906;
	padding:auto;padding-left:auto;padding-right:auto;padding-top:0;padding-bottom:auto;
	vertical-align:middle;
	text-align:center;
	font-size:10px;
	}
.evt_Eons
	{
	margin:0;
	border: 0;border-left: 0;
	background-color:#906;
	padding:auto;padding-left:auto;padding-right:auto;padding-top:5px;padding-bottom:auto;
	vertical-align:text-bottom;
	text-align:center;
	font-size:20px;
	}
	
.evt_Eres
	{
	margin:0;
	border: 0;border-left: 0;
	background-color:#906;
	padding:auto;padding-left:auto;padding-right:auto;padding-top:5px;padding-bottom:auto;
	vertical-align:text-bottom;
	text-align:center;
	font-size:16px;
	}
	
.evt_Periodes
	{
	margin:0;
	border: 0;border-left: 0;
	background-color:#906;
	padding:auto;padding-left:auto;padding-right:auto;padding-top:5px;padding-bottom:auto;
	vertical-align:text-bottom;
	text-align:center;
	font-size:12px;
	}
	
.evt_Epoques
	{
	margin:0;
	border: 0;border-left: 0;
	background-color:#906;
	padding:auto;padding-left:auto;padding-right:auto;padding-top:5px;padding-bottom:auto;
	vertical-align:text-bottom;
	text-align:center;
	font-size:10px;
	}
	
.evt_Etages
	{
	margin:0;
	border: 0;border-left: 0;
	background-color:#906;
	padding:auto;padding-left:auto;padding-right:auto;padding-top:5px;padding-bottom:auto;
	vertical-align:text-bottom;
	text-align:center;
	font-size:8px;
	}
	

